<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../css/bootsMain.css">
	<link rel="stylesheet" type="text/css" href="../css/paginaPrincipal.css">
	<title>Imprimir cotizacion</title>
	<head>
    	<% include ../partials/head %>
	</head>
	<header>
	    <% include ../partials/header %>
	</header>
	<script type="text/javascript" src="../js/paginaPrincipal.js"></script>
	<style type="text/css">
		.clientHide{
			display:none;
		}
	</style>
</head>
<body>
	<br><br><br><br>
	<section id="main">
	  <div class="container">
	    <div class="row">
	      <div class="col-md-3">
	        <% include ../partials/menuAdmin %>
	      </div>
	      <div class="col-md-9">
	      	<form method="POST" action="/actualizarCostosInternos" class="form">
	          <div class="panel panel-default">
			  <div class="panel-heading" style="background-color:  #095f59;">
			    <h3 class="panel-title">Datos de la empresa</h3>
			  </div>
			  <div class="form-group">
			  	<label>Costo del dia de trabajo</label><input value="<%- costoDiaDeTrabajo %>" type="Text" class="form-control" name="costoDiaDeTrabajo">
			  </div>

			  <div class="form-group">
			  	<label>Costo interno general de las impresoras</label><input type="Text" value="<%- costoMantenimientoPorImpresion %>" class="form-control" name="costoMantenimientoPorImpresion">
			  </div>

			  <div class="form-group">
			  	<label>Costo por el local (Arriendo + servicios)</label><input type="Text" value="<%- costoLocalArriendo %>" class="form-control" name="costoLocalArriendo">
			  </div>

			  <div class="form-group">
			  	<label>Comodin en caso de fallo al imprimir</label><input type="Text" value="<%- adicionalReserva %>" class="form-control" name="adicionalReserva">
			  </div>

			  <div class="form-group">
			  	<label>Porcentaje de utilidad</label><input type="Text" value="<%- porcentajeUtilidad %>" class="form-control" name="porcentajeUtilidad">
			  </div>
			  
			  <div class="form-group">
			  	<label>IVA</label><input type="Text" value="<%- IVA %>" class="form-control" name="IVA">
			  </div>
			  <div class="form-group">
			  	<button type="submit" class="btn btn-success">Actualizar datos de la empresa</button>
			  </div>
	      </div>
	      </form>
	    </div>
	  </div>
	</section>

<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>
</html>