<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../css/bootsMain.css">
	<link rel="stylesheet" type="text/css" href="../css/paginaPrincipal.css">
	<title>Imprimir cotizacion</title>
	<head>
    	<% include ../partials/head %>
	</head>
	<header>
	    <% include ../partials/header %>
	</header>
	<script type="text/javascript" src="../js/paginaPrincipal.js"></script>
	<script type="text/javascript" src="/js/calculadoraLargoPeso/calc.js"></script>
	<style type="text/css">
		.clientHide{
			display:none;
		}
	</style>
</head>
<body>
	<br><br><br><br>
	<section id="main">
	  <div class="container">
	    <div class="row">
	      <div class="col-md-3">
	        <% include ../partials/menuAdmin %>
	      </div>
	      <div class="col-md-9">
	      	<form method="POST" action="/actualizarExtras" class="form">
	          <div class="panel panel-default">
			<input type="Text" name="filaTipo" value="ABS" id="filamento" style="display:none">
			  <div class="panel-heading" style="background-color:  #095f59;">
			    <h3 class="panel-title">Costos de cotizacion</h3>
			  </div>

			  <div class="radio">
				  <label class="radio-inline"><input type="radio" onclick="loadPLA()" id="PLA"  name="PLA">PLA</label>
				  <label class="radio-inline"><input type="radio" onclick="loadABS()" id="ABS" name="ABS" checked>ABS</label>
				  <label class="radio-inline"><input type="radio" onclick="loadFlexi()" id="Flexible" name="Flexi">Flexible</label>
			  </div>
			 <div class="radio">
				  <label class="radio-inline"><input type="radio" onclick="cargarPeso()" id="Peso"  name="1">Ingresar peso</label>
				  <label class="radio-inline"><input type="radio" onclick="cargarMetros()" id="Metros" name="2" checked>Ingresar numero de metros</label>
			</div>
			<div id="inputMetro"><label>Nª de metros:&nbsp&nbsp&nbsp&nbsp&nbsp</label> <input placeholder="Ej. 200" onchange="calcularPeso()" type="text" id="filaMetros" value="<%- cantidadMetros %>" name="metros"/></div>
							
			<div id="inputPeso" style="display:none"><label>Peso en gramos:&nbsp</label><input  value="<%- pesoGramos %>" placeholder="Ej. 100" id="filaPeso" onchange="calcularLargo()" type="text" name="gramos"/></div>

			<div><label>Diametro del filamento (mm):&nbsp</label><input id="diametro" type="text" name="diametro" value="1.75"/></div>

			<div><label>Costo del filamento:&nbsp:&nbsp</label><input placeholder="Ej. (100.000)" value="<%- costoCarrete %>"  type="text" id="costoFilamento" name="costoFila"></div>
			<div style="display:none"><label>Densidad del filamento </label> <input type="text" name="densidad" id="densidadText" value="1.04"></div>
			  <div class="form-group">
			  	<label>Horas de reserva para imprimir la pieza</label><input type="Text" value="<%- horasReservaImpresion %>" class="" name="horasReservaImpresion">
			  </div>
			  
			  <div class="form-group" style="display:none">
			  	<label></label><input type="Text" value="<%- idUsuario %>" class="form-control" name="idUsuario">
			  </div>
			  <div class="form-group">
			  	<button type="submit" class="btn btn-success">Actualizar datos de la empresa</button>
			  </div>
	      </div>
	      </form>
	    </div>
	  </div>
	</section>

<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>
</html>