<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../css/imprimirCotizacion.css">
	<title>Imprimir cotizacion</title>
	<head>
    	<% include ../partials/head %>
	</head>
	<header>
	    <% include ../partials/header %>
	</header>
	<script type="text/javascript" src="../js/imprimirCotizacion.js"></script>
	<style type="text/css">
		.clientHide{
			display:none;
		}
		input{
			background-color:transparent;
			border:0;
			margin:0;
			padding:0;
		}
		.col-md-6{
		}
	</style>
</head>
<body>
<br/><br/><br/>
<div class="container">
	<div class="tittle"><h3>ON3D Cotizacion</h3></div>
	<div class="container datosEmpresa">
		<form action="/imprimirPieza" method="POST" id="formCotizacion">
			<br>
			<div class="row">
				<div class="col-md-6"><strong class="" style="d">Tiempo requerido para entrega (horas):</strong><input readonly class="col-md-3" type="Text" name="tiempoReserva" value="<%- tiempoReserva %>"></div>
				<div class="col-md-6"><div><strong>Empresa</strong>: <input type="Text" class="col-md-6" name="nombreEmpresa" value="<%- nombreEmpresa %>" readonly/> </div></div>
			</div>
			<div class="row">
				<div class="col-md-6"><div><strong>email del proveedor</strong>: <input type="Text" class="col-md-6" name="emailProveedor" value="<%- emailProveedor %>" readonly/></div></div>
			</div>
			<div class="row">
				<div class="col-md-6"><strong class="">Dimensiones de la pieza:</strong><input readonly class="col-md-6" type="Text" name="tamano" value="<%- tamano %>"></div>		
				<div class="col-md-4"><strong>Condiciones</strong>: <a href="/<%- linkCondiciones %>"> <%- nombreEmpresa %></a></div></div>
			<div class="row">
				<div class="col-md-6"><div><strong>Pagar el abono antes de:&nbsp&nbsp&nbsp&nbsp</strong><input type="Text" name="fechaPagoAbono" value="<%- fechaPagoAbono %>" readonly/> </div></div>
				<div class="col-md-4"><strong class="" style="d">Telefono:</strong><input readonly class="col-md-6" type="Text" name="telefonoEmpresa" value="<%- telefonoEmpresa %>"></div>
			</div>
			<div class="row">
					<div class="col-md-4" style=""><div><strong>Direccion</strong>: <input type="Text" name="direccionEmpresa" value="<%- direccion %>" readonly/></div></div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-6"><div><strong>email del cliente</strong>: <input style="background-color:white" type="Text" name="emailCliente" class="col-md-6" value="" placeholder="<%- emailCliente %>" /></div></div>
				<div class="col-md-3"><button type="submit" onsubmit="return validarSolicitud()" class="btn btn-success">Solicitar impresion!</button></div>
			</div>
			<br>
			<div class="row">
				<table class="table" id="tableCotizacion">
					<thead class="thead-dark">
						<tr>
							<th  scope="col"> Nombre </th>
							<th  scope="col"> Cantidad </th>
							<th  scope="col"> Costo Unitario </th>
							<th  scope="col"> Costo Total </th>
						</tr>
					</thead>
					<tbody>
						<tr class="table-active">
							<input type="Text" name="idFilamento" id="idFilamento" value="<%- idFilamento %>" style="display:none"/>
							<td><input style="background-color:<%- color %>" type="Text" readonly name="nombreArchivo" value="<%- servicioImpresion %>"></td>
							<td>1</td>
							<td>$ <input type="Text" name="costoUnitario" value="<%- costoImpresionUni %>"></td>
							<td>$ <input type="Text" name="costoTotalItem" value="<%- costoImpresionTotal %>"></td>
						</tr>
						<tr class="table-info">
							<td/><td/><td/>
							<td>Subtotal: $ <input type="Text" name="subtotal" value="<%- costoSubtotal %>"></td>
						</tr>
						<tr class="table-info">
							<td/><td/><td/>
							<td>porcentaje de impuestos: <input type="Text" name="porcentajeImpuesto" value=" <%- porcentajeImputestos %>"></td>
						</tr>
						<tr class="table-info">
							<td/><td/><td/>
							<td>Total de impuestos: $ <input type="Text" name="costoImpuestoTotal" value="<%- costoImpuesto %>"></td>
						</tr>
						<tr class="table-success">
							<td/><td/><td/>
							<td>Costo total: $ <input type="Text" name="costoTotalImpresion" value="<%- costoTotal %>"></td>
						</tr>
						<tr class="table-success">
							<td/><td/><td/>
							<td>Abono inicial: $ <input type="Text" name="abono" value="<%- costoAbono %>"></td>
						</tr>
						<tr class="table-success">
							<td/><td/><td/>
							<td>Fecha de entrega: <input type="Text" name="fechaEntrega" value="<%- fechaEntrega %>"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<input type="Text" name="idEmpresa" value="<%- idEmpresa %>" style="display:none"/>
			<input type="Text" name="numeroMetros" value="<%- numeroMetros %>" style="display:none"/>
			<input type="Text" name="tiempoImpresion" value="<%- tiempoImpresion %>" style="display:none"/>
			</form>
	</div>
</div>
<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>